// Colors
$purple: #7a325d
$darkPurple: #44072C
$lightPurple: #B87DA1
$primary: $purple
$black: #202020
$grey: #515151

@import '../node_modules/bulma/bulma'

.navbar-bg
  background-color: $black
  .nav
    background-color: $black
  .title
    color: #686868
    font-weight: 600

.twitter
  color: #55acee !important // Override bulma
  border-color: #55acee

.github
  color: $black !important // Override bulma
  border-color: $black

.not-showing
  display: none;

.event-twitch
  height: 0px;
  text-align: right
  color: $purple

.schedule-container
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  .event
    padding: 20px
    margin-top: 10px
    border: 1px solid $purple
    text-align: center
    .event-title
      font-size: 25px
      margin-bottom: 10px
      a
      color: $purple
      text-decotation: none
    .event-time
      color: $lightPurple
      font-size: 15px
      p
        display: inline-block
        padding-right: 10px 
    .event-description
      margin-top: 20px
      text-align: left
      color: $darkPurple
      line-height: 20px
      width: 80%
      margin-left: auto
      margin-right: auto
  .event.past
    opacity: 0.7 
    border: 1px solid #ccc
    background-color: #ccc
    .event-title
      a
        color: #123
    .event-time
      color: #112
    .event-description
      color: #123
  .event.current
    border: 5px solid $purple