body {
    margin: 0;
}

/* PrimeFaces font size. */
.ui-widget,.ui-widget .ui-widget {
    font-size: 90% !important;
}
  
/* PrimeFaces FontAwesome */      
.ui-icon.fa {
    text-indent:0px !important;
    background-image:none !important;
}

/* */
.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    position: static !important;
}

/* Grabber */
.bmanager-grabber {
    background: #4389cc; /* Old browsers */
    background: -moz-linear-gradient(left, #4389cc 0%, #54abff 50%, #54abff 50%, #4389cc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4389cc 0%,#54abff 50%,#54abff 50%,#4389cc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4389cc 0%,#54abff 50%,#54abff 50%,#4389cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4389cc', endColorstr='#4389cc',GradientType=1 ); /* IE6-9 */
}

/* Carousel Wrapper */
.grabber-carousel {
    width:80%; 
    margin-left: auto; 
    margin-right: auto;
    position: relative;
}

/* Carousel Buttons */
.bmanager-grabber .slick-prev:before, .slick-next:before { 
    /* color:red !important; */
    color: #c0c0c0 !important;
}

/* Carousel left Button */
.bmanager-grabber .slick-prev {
    left: -30px !important;
}
/* Carousel right Button */
.bmanager-grabber .slick-next {
    right: -30px !important;
}

/* Carousel dots */
.bmanager-grabber .slick-dots {
    position: static;
}

/* Carousel dots bottom margin */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* Carousel dots */
.bmanager-grabber .slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    width: 10px;
    height: 10px;
    color: #c0c0c0;
    border-radius: 25px;
}

/* Carousel Slide */
.grabber-carousel .carousel-slide .double-column{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

/* Slide with the mobile image. */
.grabber-carousel .carousel-slide .double-column .mobileImage{
    height: 400px;
    background-image: url("../img/2phones.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


.carousel-slide .headline {
    color: #fff;
}

.carousel-slide .excerpt {
    color: #fff;
}

/* Stay Connected Section */
.bmanager-connected {
    background-color: #2a567f;
    height: 150px;
}

.bmanager-connected h1,h2 {
    margin: 0;
    color: #FFF;
    text-align: center;
}

.bmanager-connected h1 {
    padding-top: 20px;
}

.bmanager-connected h2 {
}

.github-button-wrapper {
    padding-top: 20px;
    width: 100px;
}

/* BManager Projects Section */
.projects-nav {
    width: 80%;
    padding-top: 20px;
}

.projects-nav-cat {
    width: 24%;
    display: inline-block;
    text-align: center;
    color: #c2c2c2;
}

.projects-nav-cat.selected{
    color:  #51a5f7;
}

.bmanager-projects .projects-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Register Page Wrapper */
.registerpage-wrapper {
    padding-top: 20px;
    width: 80%;
}

.user-creation-img {
    background-image: url("../img/profileimg.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* UTIL CSS CLASSES*/
.centered{
    margin-left: auto;
    margin-right: auto;
}
.centered-text {
    text-align: center;
}

.col-2 {
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}